body {
	background-color: #66ccff;
	color: #fff;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}